@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-SemiBold.ttf);
    font-weight: 600;
}

$mainColor: #05566f;
$secColor: #018797;

body {
    font-family: "cairo";

    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $secColor;
    }
}



.navbar {
    padding-right: 0;
    padding-left: 0;

    @media(max-width:991px) {
        padding-right: 15px;
        padding-left: 15px;
    }

    svg {
        width: 25px;
        height: 25px;
        display: inline-block;
    }

    .navbar-toggler {
        outline: none !important;
    }

    .navbar-brand {
        img {
            width: 90px;
            mix-blend-mode: multiply;
        }
    }

    .nav-item {
        .nav-link {
            color: $mainColor;
            text-decoration: none;
            padding: 0;
            margin-inline-end: 32px;
            font-weight: bold;
            font-size: 20px;
        }
    }

    .navbar-nav {
        @media(max-width:991px) {
            text-align: start;
            background-color: #f5f5f5;
            padding: 12px;
            border-radius: 8px;

            .nav-link {
                font-size: 15px;
                margin: 0 !important;
                margin-bottom: 12px !important;
            }
        }
    }

    .dropdown-menu {
        text-align: start;

        .dropdown-item {
            color: $secColor;
            margin-bottom: 8px;
            font-weight: 600;
            font-size: 18px;

            @media(max-width:991px) {
                font-size: 14px;
            }
        }
    }
}


.slider {
    height: calc(100vh - 90px);
    background-image: url(../imgs/banner2-bg.webp);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
}

.most_trend {
    padding-top: 50px;
}

@media (max-width: 991px) {
    .most_trend {
        padding: 28px 0 !important;
    }
}

.most_trend .container-fluid {
    position: relative;
    padding-inline: 60px;

    @media(max-width:991px) {
        padding: 0 30px;
    }
}

.most_trend .most_trend_owl {
    position: static;
}

.most_trend .most_trend_owl .owl-nav {
    position: absolute;
    top: 15px;
    left: 60px;
    display: flex;
    gap: 20px;
}

@media (max-width: 991px) {
    .most_trend .most_trend_owl .owl-nav {
        display: none;
    }
}

.most_trend .most_trend_owl .owl-nav button {
    outline: none !important;
}

.most_trend .most_trend_owl .owl-nav .fa-chevron-right,
.most_trend .most_trend_owl .owl-nav .fa-chevron-left {
    width: 40px;
    height: 40px;
    border: 2px solid $mainColor;
    color: $mainColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease-in-out;
}

.most_trend .most_trend_owl .owl-nav .fa-chevron-right:hover,
.most_trend .most_trend_owl .owl-nav .fa-chevron-left:hover {
    background-color: $mainColor;
    color: #fff;
}

.link a {
    text-decoration: none !important;
}

.link {
    border: 1px solid #f1f1f1;
    padding-top: 15px;
    padding-bottom: 15px;

    @media(max-width:575px) {
        width: 50%;
        img {
            height: 120px !important;
        }
    }
    @media(max-width:425px) {
        width: 50%;

        img {
            height: 100px !important;
        }
    }
    @media(max-width:370px) {
        width: 50%;

        img {
            height: 75px !important;
        }
    }
}

.link img {
    height: 160px;
    border-radius: 25px 25px 0 0;
    width: 100%;
}

.link .desc {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    border-radius: 0 0 25px 25px;
    display: block;
    height: auto;
    margin-bottom: 0px;
    padding: 16px;
}

@media (max-width: 991px) {
    .link .desc {
        padding: 10px;
    }
}

.link .desc h5 {
    font-size: 24px;
    color: $mainColor;
    line-height: 34px;
    margin: 0;
}

@media (max-width: 991px) {
    .link .desc h5 {
        font-size: 14px;
        line-height: 24px;
    }
}

.most_trend .most_trend_owl .link a .desc span {
    display: block;
    color: #414141;
    font-size: 20px;
    line-height: 38px;
}

@media (max-width: 991px) {
    .most_trend .most_trend_owl .link a .desc span {
        font-size: 12px;
        line-height: 22px;
    }
}

.most_trend .most_trend_owl .link a .desc strong {
    font-size: 24px;
    color: #414141;
}

@media (max-width: 991px) {
    .most_trend .most_trend_owl .link a .desc strong {
        font-size: 14px;
        line-height: 24px;
    }
}

.most_trend .head {
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .most_trend .head {
        margin-bottom: 20px;
    }
}

.most_trend .head h2 {
    color: $mainColor;
    font-family: "cairo";
    font-weight: bold;
    font-size: 35px;
    line-height: 66px;
    margin: 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 5px;
        background-color: $mainColor;
    }
}

@media (max-width: 650px) {
    .most_trend .head h2 {
        font-size: 16px;
        line-height: 26px;

        &::after {
            height: 3px;
            bottom: -5px;
        }
    }
}

.most_trend .head a {
    font-size: 18px;
    color: $secColor;
    font-family: "cairo";
    font-weight: bold;
    -webkit-padding-end: 130px;
    padding-inline-end: 130px;
    text-decoration: none !important;
}

@media (max-width: 991px) {
    .most_trend .head a {
        -webkit-padding-end: 0;
        padding-inline-end: 0;
    }
}

@media (max-width: 650px) {
    .most_trend .head a {
        color: #ED1C24;
        font-size: 13px;
        line-height: 23px;
    }
}







//slider

.carousel-caption {
    position: absolute;
    right: 50%;
    bottom: 50%;
    left: auto;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    transform: translateY(50%);


    img {
        margin-bottom: 32px;
    }

    p {
        color: $mainColor;
        font-size: 28px;
        font-weight: 600;
    }

    @media(max-width:767px) {
        position: absolute;
        right: 50%;
        bottom: 50%;
        left: auto;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        transform: translate(50%, 50%);
        background-color: #fff;
        padding: 16px;
        border-radius: 16px;
        width: 500px;
        max-width: 95%;
        img{
            width: 190px;
            margin-bottom: 12px;
        }
        p{
            font-size: 14px;
            font-weight: bold;
        }
    }
}

.next_prev {
    display: flex;
    width: 55px;
    height: 55px;
    background: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 1;
}

.prayer_times {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 90px);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: url(../imgs/salat-times-bg-large.webp) no-repeat scroll 0 0;
        background-size: cover;
        -webkit-animation: zoom-in-zoom-out 60s linear infinite;
        animation: zoom-in-zoom-out 60s linear infinite;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: .7);
        z-index: 2;
        width: 100%;
        height: 100%;

    }

    .container-fluid {
        position: relative;
        z-index: 25;
        color: #fff;

        h2 {
            margin-bottom: 36px;
        }

        .prayers {
            gap: 32px;
            flex-wrap: wrap;

            .salat {
                border: 1px solid;
                border-color: #464646;
                padding: 12px 28px;
                border: 1px solid #f1f1f1;
                border-radius: 6px;

                h5 {
                    font-weight: bold;
                }
            }
        }
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}


.modal {
    .modal-title {
        font-weight: bold;
        color: $mainColor;
    }

    .modal-body {
        height: 300px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $secColor;
        }

        #noResults {}

        input {
            border: 1px solid #f1f1f1;
            margin-bottom: 32px;
            border-radius: 6px;
            padding: 8px;
            outline: none !important;

            &::placeholder {
                color: $secColor;
                font-size: 13px;
            }
        }

        ul {
            li {
                a {
                    color: $secColor;
                    font-weight: 600;
                    display: inline-block;
                    text-decoration: none;
                }
            }
        }
    }
}

.azkar_owl {

    p {
        width: 85%;
        margin: auto;
        font-size: 18px;
        font-weight: 600;
        line-height: 34px;
    }

    .owl-prev {
        position: absolute;
        right: 0;
        top: 50%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #f1f1f1 !important;
        transform: translateY(-50%);
    }

    .owl-next {
        position: absolute;
        left: 0;
        top: 50%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #f1f1f1 !important;
        transform: translateY(-50%);
    }

    @media(max-width:767px) {

        .owl-prev,
        .owl-next {
            display: none;
        }
    }
}



footer {
    text-align: start;
    padding: 24px 0;

    .coprights {
        font-weight: 600;
        color: $secColor;
    }
}

#cityList {
    flex-wrap: wrap;

    li {
        width: 50%;
        flex-basis: 50%;
        border: 1px solid #F1F1F1;
        text-align: center;
        padding: 8px;
    }
}

.azkar {
    background-image: url(../imgs/bg-pattern.webp);
    padding: 50px 0;

    h2 {
        margin-bottom: 50px;
        color: $mainColor;
        font-weight: bold;

        @media(max-width:575px) {
            font-size: 24px;
            margin-bottom: 28px;
        }
    }

    .col-md-6 {
        margin-bottom: 24px;
    }

    p {
        margin: 0;
        background-color: #fff;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 24px;
        font-weight: 600;
        line-height: 28px;
    }
}